<!DOCTYPE html>
<html lang="en">
  {% include "partials/head.tera" %}
  <body>
    {% include "partials/header.tera" %}
    <input
      type="text"
      name="search"
      id="search"
      class="w-full border-2 px-2 py-1 text-center"
      placeholder="Search..."
      hx-trigger="keyup"
      hx-get="/page/products"
      hx-target="main"
      hx-swap="outerHTML"
    />
    {% set products = param.products %}
    {% include "partials/products.tera" %}
    <div
      class="fixed bottom-0 w-full flex justify-center items-center h-20 bg-gradient-to-t from-gray-300 backdrop-blur-sm"
    >
      <button class="btn-primary-md">Cart</button>
    </div>
    <script src="/public/script/functions.js"></script>
    <script src="/public/script/sideEffects.js"></script>
  </body>
</html>
